<%- include('partials/dashHeader.ejs'); -%>

<%- include('partials/dashSidebar.ejs'); -%>

<section id="content">
    <%- include('partials/dashNav.ejs'); -%>
</section>


<% if (typeof image !== "undefined" && image) { %>
    <h3>7-Day Sales Forecast</h3>
    <img src="data:image/png;base64,<%= image %>" alt="7 Day Forecast Chart" />
  <% } %>

<%- include('partials/dashFooter.ejs'); -%>