<%- include('partials/dashHeader.ejs'); -%>

<!-- SIDEBAR -->
<%- include('partials/dashSidebar.ejs'); -%>

<section id="content">
  <%- include('partials/dashNav.ejs'); -%>

  <%- include('partials/main-dash.ejs'); -%>
  <%- include('partials/main-analysis.ejs'); -%>
  <%- include('partials/main-inventory.ejs'); -%>
  <%- include('partials/main-charts.ejs'); -%>
  <%- include('partials/main-tables.ejs'); -%>
  <%- include('partials/main-suggestions.ejs'); -%>
  <%- include('partials/main-feedback.ejs'); -%>
  <%- include('partials/main-contact-us.ejs'); -%>
</section>

<%- include('partials/dashFooter.ejs'); -%>